.carousel-item {
  text-align: center;
  padding-top: 6.8rem;
  .carousel-item__author {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }

  &__text {
    padding-left: 25px;
    text-align: left;
  }

  &__name {
    color: #635c73;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.333;
  }
  &__nick {
    color: #8d81ac;
    font-size: 1em;
    font-weight: 400;
    line-height: 2;
  }
  &__comment {
    width: 61%;
    padding-top: 45px;
    font-family: Lato sans-serif;
    color: #333333;
    font-size: 1.25em;
    line-height: 1.6;
    margin: 0 auto;
    &_violet {
      font-family: Lato sans-serif;
      color: #8d81ac;
      font-size: 1.25em;
    }
  }
  &__time-post {
    padding-top: 24px;
    color: #848e97;
    font-size: 1em;
    padding-bottom: 7.4rem;
  }

}

.social-links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.social-btn {
  width: 240px;
  height: 50px;
  display: block;
  margin: 0 20px;
  font-size: 1.313em;
  line-height: 2.524;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  background-color: #2b414d;

  &_github {
    color: black;
    background: url("../img/carousel/icon-git.png") no-repeat #f3f3f3;
    background-position: 19px 17px;
    background-size: 15px auto;
    border: #f3f3f3 solid 1px;
  }

  &_github:hover {
    background: url("../img/carousel/icon-git-colour.png") no-repeat #2b414d;;
    background-position: 19px 17px;
    background-size: 15px auto;
    color: white;
  }

  &_twitter {
    background: url("../img/carousel/icon-twitter.png") no-repeat #21a7d2;
    background-position: 19px 17px;
    background-size: 17px auto;
    border: #21a7d2 solid 1px;
  }

  &_twitter:hover {
    background: url("../img/carousel/icon-twitter-colour.png") no-repeat white;
    background-position: 19px 17px;
    background-size: 17px auto;
    color: #21a7d2;
  }

  &_facebook {
    background: url("../img/carousel/icon-facebook.png") no-repeat #385899;
    background-position: 19px 17px;
    background-size: 9px auto;
    border: #385899 solid 1px;
  }

  &_facebook:hover {
    background: url("../img/carousel/icon-facebook-colour.png") no-repeat white;
    background-position: 19px 17px;
    background-size: 9px auto;
    color: #385899;
  }
}
.social-item__followers {
  color: #848e97;
  font-size: 0.875em;
  line-height: 2.286;
  text-align: center;
  padding-bottom: 3rem;
}

.fa {
  font-size: 1.3em;
  color: #a2a2a2;
}

.fa-angle-left {
  position: absolute;
  top: 250px;
  left: 10%;
  z-index: 1;
}

.fa-angle-right {
  position: absolute;
  top: 245px;
  left: 90%;
  z-index: 1;

}
