.footer__list{
  display: flex;
  flex-direction: row;
  padding: 79px 10px 59px 10px;

}

.footer__logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

//.footer_logo-img{
//  float: left;
//}

.site-description{
  width: 301px;
}

.logo__text_size-s{
  color:  #8d81ac;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 18px;
  align-items: center;
}
.logo__text_dark{
  color:  #333333;
}


.site-description__text{
  color:  #848e97;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.vertical-navigation{
  width: 130px;
  margin: 0 89px 0 86px;
}

.vertical-navigation__title{
  color:  #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 23px;
}
.vertical-nav{
  margin-right: 91px;
  width: 122px;
}

.vertical-nav__link{
  color:  #8d81ac;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none;
}

.site-contacts{
  width: 265px;
  margin-right: 77px;
}
.contact-phone__number{
  color:  #3f3f3f;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.contact-phone__call-time{
  color:  #848e97;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 15px;
}
.contact-address__city{
  color:  #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 38px 0 20px 0;
}

.contact-address_city-place{
  color:  #848e97;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.site-description{
  width: 304px;
}

.site-description__title{
  color:  #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.site-description__text{
  color:  #848e97;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 24px;
}

//MEDIA
@media (min-width: 481px) and (max-width: 992px){

}