.section-features {
  background-color: #f4f4f4;
}

.features-container {
  height: 34rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  //align-items: flex-end;
  padding-top: 4.5rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.section-title-two__heading {
  width: 51.5%;
  padding-left: 1%;
  color: #8d81ac;
  font-size: 2.5rem;
  font-weight: 700;
  order: 2;
  text-align: center;
}

.feature-item-screen {
  padding-top: 20px;
  //width: 53%;
  height: 88%;
  order: 3;
  background-image: url("../img/features/hereis-editor-screen.png");
  background-repeat: no-repeat;
  background-size: cover;

  //&__img {
  //  width: 100%
  //}
}

.features-list {
  width: 45%;
  order: 1;

  .feature-item {
    display: flex;

    &-icon-block {
      width: 532px;
      &__img {
        display: block;
        margin: 0 auto;
      }
    }
    &-about-block {
      padding-bottom: 50px;
      &__title {
        color: #323232;
        font-size: 1rem;
        font-weight: 500;
        padding-bottom: 0.7rem
      }
      &__desc {
        color: #848e97;
        font-size: 0.875rem;
        line-height: 17px;
      }
    }
  }
}



