.mentions{
  margin-bottom: -2px;
}
.section-title-three__heading{
  padding-top: 98px;
  color: #ffffff;
  font-size: 47.99px;
  font-weight: 700;
  text-align: center;
}
.mentions {
  background: url("../img/peaple_are/Layer_1.png") no-repeat center;
  background-size: cover;
 }
.mentions-item__img{
  padding-bottom: 37px;
  margin: 0 auto;
}
.mentions ul{
  display: flex;
  flex-wrap: wrap;
}
.mentions-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 30%;
  padding-top: 95px;
  flex-direction: column;
}
.mentions-list p {
  width: 309px;
}
.mentions-item__text{
  font-family: 'Lato', sans-serif;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}
.mentions-item__text p{
  padding-top: 20px;
}
.mentions__small-info{
  color: #8d81ac;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-top: 119px;
  width: 849px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
.mentions__small-info:after {
  content: '';
  display: block;
  background-color: #8d81ac;
  width: 780px;
  height: 2px;
  margin: 20px auto;
  border-radius: 10px;
}
