.header{
  width: 100%;
  background-color: #222125;
  height: 100px;
  position: relative;
  &__content {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    line-height: 100px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    &__logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      flex-shrink: 1;
      &-img{
        line-height: 100%;
      }
      &__text {
         font-family: 'Lato', sans-serif;
         color: #8d81ac;
         font-size: 24px;
         font-weight: 700;
         line-height: 16px;
         text-align: left;
         margin-left: 17px;

       }
    }
    &__flex-wrapper {
       display: flex;
       flex-wrap: nowrap;
       align-items: center;
       margin-left: 339px;
       flex-shrink: 1;
      .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        align-items: center;
        width: 710px;
        list-style-type: none;
        flex-shrink: 1;
        &__link {
          font-family: 'Montserrat', sans-serif;
          text-decoration: none;
          color: #8d81ac;
          font-size: 16px;
          font-weight: 700;
          text-align: left;
          vertical-align: middle;
        }
        .btn_violet {
           background-color: #8e82ad;
         }
        .header__btn {
            padding: 12px 35px 11px 35px;
            border-radius: 20px;
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            line-height: 15px;
            text-align: center;
          }
      }
     }
  }
}




