@media (max-width: 992px) {
  .header {
    height: 118px;
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 100%;
      align-items: center;
      line-height: 100%;
    }
    &__flex-wrapper {
      margin-left: 0;
      max-width: 100%;
      min-width: 100px;
      justify-content: center;
      flex: 1 0 100%;
      order: 2;
      width: 517px;
    }
  }

  .menu {
    order: 1;
    flex-basis: 100%;
    position: absolute;
    margin-right: 0;
    justify-content: space-between;
    max-width: 96vw;
  }
}

@media (max-width: 480px) {
  .header {
    height: 100px;
    &__flex-wrapper {
      display: none;
    }
  }

  .header__burger-menu {
    display: block;
    width: 48px;
    background-color: inherit;
    position: relative;
    color: #ffffff;
    height: 40px;
  }

  #burgerMenuBtn {
    display: none;
  }

  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    transition: .5s all;
  }

  .second-line, .third-line {
    top: 18px;
  }
  .fourth-line {
    top: 28px;
  }
  .main-menu {
    display: block;
    position: absolute;
    width: calc(100vw);
    bottom: -33px;
    right: -10px;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    margin-right: auto;
    margin-left: auto;
  }

  .menu_link_mobile {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: #000;
    font-size: 2rem;
    box-sizing: border-box;
    line-height: 1.5;
    border-bottom: 1px solid grey;
    &:hover {
      color: #8d81ac;
    }
    &:hover::before {
      content: '';
      width: 0;
      height: 3.4rem;
      position: absolute;
      border: 2px solid #18cfab;
      top: 6px;
      left: 0;
      box-sizing: border-box;
    }
  }

  #burgerMenuBtn:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
  }
  #burgerMenuBtn:checked ~ .first-line {
    display: none;
  }
  #burgerMenuBtn:checked ~ .second-line {
    transform: rotate(45deg);
  }
  #burgerMenuBtn:checked ~ .third-line {
    transform: rotate(-45deg);
  }
  #burgerMenuBtn:checked ~ .fourth-line {
    display: none;
  }
}

@media (max-width: 400px) {
  .header__btn {
    font-size: 0.93rem;
  }

  .header .logo__text {
    display: none;
  }
}