@media (max-width: 992px){
  .pricing ul{
    margin: 0 auto;
    width: 600px;
  }
}
@media (max-width: 768px) {
  .pricing ul {
    margin: 0 auto;
    width: 300px;
  }
}

@media (max-width: 480px){
  .container{
    flex: 0 1 100%;
  }
  .section-title-three-part{
    font-size: 36px;
  }
  .pricing ul{
    justify-content: center;
    width: 300px;
  }
}