.section-subscribe {
  background-color: #f4f4f4;
  height: 134px;
  display: flex;
  align-items: center;
}

.subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;

  &__title {
    color: #635c73;
    font-size: 30px;
    font-weight: 700;
    margin-right: 100px;
    min-width: 230px;
  }

  &-form {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
  }
  &-form__input {
    color: #c8cbcf;
    font-size: 14px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    line-height: 17px;
    width: 330px;
    height: 42px;
    margin-right: 11px;
    padding-left: 26px;
    box-sizing: border-box;
  }
}

.btn_subscribe {
  padding: 14px 37px 14px 42px;
  border-radius: 28px;
  border: none;
  background-color: #8d81ac;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;

}

.btn_subscribe:hover {
  background-color: #fff;
  color: #8d81ac;
  border: 1px solid #8d81ac;

}

//MEDIA
@media (max-width: 992px) {
  .subscribe {
    height: 220px;
    flex-wrap: wrap;
  }
}

