.features {

  .section-title-two__heading {
    color: #8d81ac;
    font-size: 48px;
    font-weight: 700;
  }

  .feature-item__title {
    color: #323232;
    font-size: 16px;
    line-height: 15.406px;
  }
  .feature-item__desc {
    color: #848e97;
    font-size: 14px;
    line-height: 15.406px;
  }
}